.sublist {
    padding: 0 0 0 1em;
    border-left: 2px solid var(--border-separator-color);
    color: var(--text-aside-color);
}

.sublist span {
    padding: 0;
}

.sublist span.active {
    font-weight: bold;
    color: var(--text-color);
}

.page-link {
    font-size: 0.85em;
}

.page-link.active {
    font-weight: bold;
    text-decoration: underline;
    color: var(--text-color);
}

.page-link:hover {
    text-decoration: underline;
}