aside {
    position: fixed;
    top: 6em;
    bottom: 0;
    width: calc(100% + 2px);
    z-index: 10;
    background-color: var(--bg-color);
    border-right: 2px solid var(--bg-interactive-color);
    overflow: auto;
    transform: translateX(-100%);
    visibility: hidden;
    transition: transform .4s, visibility 0s linear .4s;
}

aside.open {
    transform: translateX(0);
    visibility: visible;
    transition: transform .4s, visibility 0s linear 0s;
}

aside + button {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 3.5em;
    height: 2.4em;
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 10;
    background-color: var(--bg-interactive-color);
    border: 2px solid var(--border-interactive-color);
    border-left-width: 0;
    border-radius: 0 2.4em 2.4em 0;
    color: var(--bg-color);
    cursor: pointer;
    user-select: none;
    transform-origin: 0;
    transition: transform .4s;
}

aside + button .icon {
    font-size: 36px;
}

aside.open + button {
    transform: translateX(100vw) scaleX(-1);
}

aside ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

aside li {
    padding: .3em 0;
}

aside > nav > ul > li {
    padding: .6em 1.4em;
    border-bottom: 2px solid var(--border-separator-color);
}

aside > nav > ul > li > a {
    font-weight: bold;
}

@media (min-width: 640px){
    aside {
        width: var(--aside-width);
    }

    main:not(.overflow) + aside {
        grid-area: 2 / 1 / 3 / 2;
        position: absolute;
        top: 0;
    }

    aside + button .icon {
        transition: transform .4s;
    }

    aside.open + button {
        transform: translateX(var(--aside-width));
    }

    aside.open + button .icon {
        transform: scaleX(-1);
    }
}

@media (min-width: 1200px){
    aside {
        grid-area: aside;
        position: static;
        transform: none;
        overflow: visible;
        transition: none;
        visibility: visible;
    }

    main:not(.overflow) + aside {
        grid-area: aside;
        position: static;
    }
    
    aside.open {
        transform: none;
    }

    aside + button {
        display: none;
    }
}
