.breadcrumb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    height: 4rem;
    top: calc(2rem + ((2.4rem - 4rem) / 2));
    left: 4.5rem;
}

.breadcrumb > span {
    display: inline-block;
    white-space: nowrap;
}

.breadcrumb a:hover {
    border-bottom: 1px solid var(--text-color);
}

.breadcrumb .separator {
    margin: 0 .8em;
    font-weight: bold;
    color: var(--bg-accent-color);
}

@media(min-width: 1200px){
    .breadcrumb {
        display: none;
    }
}
