.bubble {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 5.6em;
    height: 5.6em;
    background-color: var(--bg-accent-color);
    border-radius: 50%;
    color: var(--text-inverted-color);
}

.bubble .bubble-name {
    font-size: 0.6rem;
    font-weight: 600;
    padding-left: 2rem;
}

.bubble .bubble-number {
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 2rem;
}

@media (min-width: 640px){
    .bubble .bubble-name {
        font-weight: 700;
        font-size: 0.8rem;
        padding-left: 0;
    }
    
    .bubble .bubble-number {
        font-size: 1.8rem;
        padding-left: 0;
    }
}