.container {
    margin: 0 0 1rem;
    position: relative;
    border: 2px solid var(--border-interactive-color);
}

.tag {
    padding: .25rem .5em;
    border-bottom: 1px solid var(--border-interactive-color);
    background-color: var(--bg-accent-color);
    color: var(--text-inverted-color);
    font-size: .8rem;
}

@media(min-width: 640px) {
    .tag {
        position: absolute;
        border-left: 1px solid var(--border-interactive-color);
        top: 0;
        right: 0;
    }
}
