footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1.5em;
    position: relative;
    background-image: linear-gradient(to bottom, var(--bg-accent-gradient-color), var(--bg-accent-color) 30%);
    color: var(--text-inverted-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1;
    visibility: visible;
    transition: visibility 0s linear 0;
}

footer.hidden {
    visibility: hidden;
    transition: visibility 0s linear .4s;
}

footer .link-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 2em;
}

footer .link-images a img {
    width: 10rem;
    height: 3rem;
    object-position: 50% 50%;
    margin: 0;
}

footer .link-images a:first-child img {
    object-fit: scale-down;
    margin: 0 0 1em 0;
}

footer .link-images a:last-child img {
    object-fit: cover;
    margin: 1em 0 0 0;
}

footer p {
    margin: 0 0 0.5em;
    text-align: center;
}

footer .credits {
    font-size: 0.9em;
}

@media (min-width: 640px){
    footer.hidden {
        visibility: visible;
    }

    footer .link-images {
        flex-direction: row;
    }

    footer .link-images a:first-child img {
        margin: 0 2em 0 0;
    }
    
    footer .link-images a:last-child img {
        margin: 0 0 0 2em;
    }
}
