.home-list {
    margin-left: -4em;
    list-style-type: none;
}

.home-list .section-info {
    display: flex;
    align-items: flex-start;
    margin: 2em 0;
}

.home-list .section-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
}

.home-list .section-description h2 {
    border-bottom: 2px solid var(--text-color);
    padding-bottom: .05em;
    font-size: 1.1rem;
}

.home-list .section-description p {
    font-size: 0.8rem;
}

@media (min-width: 640px){
    .home-list {
        margin-left: 0;
    }

    .home-list .section-info {
        align-items: center;
    }
}
