main {
    grid-area: main;
    position: relative;
    background-color: var(--bg-color);
    line-height: 1.5;
    visibility: visible;
    transition: visibility 0s linear 0;
}

main.hidden {
    visibility: hidden;
    transition: visibility 0s linear .4s;
}

main > div {
    padding: 6.4em 2em 0 2em;
    max-width: calc(1200px - var(--aside-width));
}

main.page a {
    border-bottom: 1px solid var(--text-color);
}

main.page a[href^="http://"]:after, main.page a[href^="https://"]:after{
    font-family: 'Material Icons';
    font-weight: normal;
    content: '\a0launch';
    vertical-align: top;
}

main.page li {
    padding: .25em;
}

main.page ul > li {
    padding-left: .5em;
}

main.page ol > li {
    padding-left: 1em;
}

@media (min-width: 640px){
    main.hidden {
        visibility: visible;
    }
}

@media (min-width: 1200px){
    main > div {
        padding-top: 2em;
    }
}
