.section-header {
    display: flex;
    align-items: center;
    margin: 0 0 2em -4em;
}

.section-header h1 {
    margin: 0 0 0 2rem;
}

.pages-lists {
    margin-left: 3.6rem;
}

.pages-lists ul {
    list-style-type: none;
    margin-left: 0;
}

.pages-lists li {
    margin: 1em 0;
}

.pages-lists li a {
    border-bottom: 1px solid;
}

@media (min-width: 640px){
    .section-header {
        margin-left: 0;
    }

    .pages-lists {
        margin-left: 7.6rem;
    }
}
