.to-top {
    display: none;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    margin: 2em;
    position: -webkit-sticky;
    position: sticky;
    bottom: 2em;
    left: 100%;
    background-color: var(--bg-accent-color);
    border-radius: 50%;
}

.to-top .arrow {
    border: solid var(--text-inverted-color);
    border-width: 0 .35em .35em 0;
    display: inline-block;
    padding: .5em;
    transform: translateY(.3536em) rotate(-135deg);
}

main.overflow.big-overflow .to-top {
    display: flex;
    border: none;
}
